# .gitignore
# Ignore Python bytecode and cache files
__pycache__/
*.py[cod]

# Ignore environment files
.env

# Ignore virtual environment directories
venv/
.virtualenv/

# Ignore data directory for tasks
/data/*

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore editor-specific files
*.vscode/
.idea/

# Ignore package.lock.json in case it's generated
package-lock.json
