# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# PyInstaller
# Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
debug/

# Pytest cache
test/__pycache__/

# Secrets and credentials
.env

# Logs
*.log

# SQLite database
*.sqlite3

# CSV Files
*.csv

# Other files
.DS_Store
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Development files
notebooks/

# Ignore virtual environment
venv/

# Python egg files
*.egg
EGG-INFO/
*.egg-info/

# Package directories
__pypackages__/

# Items to ignore
!config/.env.example
